// Typography
// -------------------------
$ff-heading:     'Fira Sans', sans-serif, Helvetica, Arial, sans-serif;
$ff-text:        'Roboto', sans-serif, Helvetica, Arial, sans-serif;
$ff-alt:        Helvetica, Arial, sans-serif;

// Font Size
// ---------
$fs-small: 12px;
$fs-base: 16px;
$fs-medium: 20px;
$fs-big: 24px;
$fs-large: 34px;


// Font Weight
// -----------
$fw-light:     300;
$fw-bold:      700;
$fw-medium:    500;
$fw-regular:   400;

// Font Color
// -----------
$fc-headline:            #000;
$fc-title-big:           #000;
$fc-title-medium:        #333;
$fc-title-small:         #333;

$fc-text:                #000;
$fc-text-light:          #333;

$fc-bullet:              #333;
$fc-dropcap:             #333;
