body {
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    background-size: 112%;
    background-position: -10px -10px;
    background-repeat: no-repeat;
    background-image: url(../images/mobile/bg/background.png);
}

.s-container {
    padding: 25px 15px 420px;
    display: flex;
    flex-direction: column;
}

.c-brand-container { text-align: center; }

.c-main-brand {
    width: 82px;
}

.c-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;

    margin: 30px 0 30px;

    &__pre {
        font-size: 18px;
        font-weight: 400;
    }
}

.u-no-underline {
    border: none;
}

.c-small-brand-container {
    a {
        opacity: 0.5;
        transition: opacity 0.35s ease;
        margin-right: 22px;
    }

    a:hover {
        opacity: 0.9;
    }
}

.c-float-els {
    position: absolute;
}

.c-float-els__mobile {
    width: 100vw;
    overflow-x: hidden;
    display: block;
    height: 100%;
}

.c-float-els__desktop { display: none; }

.c-orange-plant,
.c-purple-plant,
.c-bubbles {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: bottom 0.1s linear,
                right 0.1s linear;
}

.c-purple-plant {
    width: 270px;
    bottom: 0px;
    right: -44px;
}

.c-bubbles { right: 40px; }

.c-fish {
    position: absolute;
    top: 100px;
    right: 27px;
    width: 60px;
    transform: rotate(-5deg);
    transition: top 0.2s linear,
                right 0.2s linear;
}

.c-bg-texture {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.05;
}

.u-centralize-content { position: relative; }

.c-case-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

    margin: 20px 0 0 0;
}

.c-case-cards-container  .c-case-card {
    text-align: center;
    margin: 0 0 10px 0;
    border-bottom: none;
    position: relative;


    img {
        width: 100%;
        height: auto;
        transition: opacity 0.25s ease;
        opacity: 1;
    }

    h5 {
        font-size: 13px;
        margin: 10px 0 0px;
    }

    h6 {
        font-size: 12px;
        opacity: 0;
        margin: 2px 0 0px;
        transition: transform 0.5s cubic-bezier(0.8, -0.375, 0.275, 1.455), opacity 0.35s ease;
    }

    span {
        font-size: 11px;
        opacity: 0;
        transition: opacity 0.25s ease;
        color: #fff;
    }

    .c-case-card__img-content {
        overflow: hidden;
        position: relative;
        display: flex;
        border-radius: 3%;


        &:after {
            content: '';
            position: absolute;
            height: auto;
            min-height: 28px;
            width: 100%;
            opacity: 0.9;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(192,24,113,1) 40%, rgba(233,86,44,1) 100%);
            transition: min-height 0.65s cubic-bezier(0.8, -0.375, 0.275, 1.455) ;
        }
    }

    .c-case-card__info {
        width: 90%;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.c-case-card:nth-child(1) .c-case-card__img-content{
    border-top-left-radius: 4%;
}

.c-case-card:nth-child(6) .c-case-card__img-content{
    border-bottom-right-radius: 4%;
}

.c-case-card:nth-child(2) .c-case-card__img-content{
    border-top-right-radius: 4%;
}

.c-case-card:nth-child(5) .c-case-card__img-content{
    border-bottom-left-radius: 4%;
}


@-webkit-keyframes swim {
    0% {
        transform: translate(0vw, 0vh);
    }
    100% {
        transform: translate(100vh, -100vw);
    }
}


@media (min-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-position: center center;
        background-size: cover;
        background-image: url(../images/desktop/bg/background.png);
    }

    .u-centralize-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .s-container {
        padding: 10px 85px 0px;
        flex-direction: row;
    }

    .c-brand-container { text-align: left; }

    .c-main-brand {
        width: 129px;
        margin-right: 48px;
    }

    .c-title {
        font-size: 34px;
        margin-top: 0;

        &__pre { font-size: 24px; }
    }

    .c-text-content {
        max-width: 680px;
    }

    .c-float-els__mobile { display: none; }

    .c-float-els__desktop {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .c-bubbles { right: 100px; }

    .c-purple-plant {
        width: auto;
        bottom: -2px;
        right: 0;
    }

    .c-fish {
        position: absolute;
        top: 380px;
        right: 250px;
        width: 94px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .s-container {
        padding: 40px 50px 40px;
        flex-direction: row;
    }

    .c-main-brand {
        width: 100px;
        margin-right: 30px;
    }
}

@media (min-width: 900px) {
    .c-case-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 31%);
    }

    .c-case-cards-container  .c-case-card {
        h5 {
            font-size: 15px;
        }

        h6 {
            font-size: 12px;
        }

        .c-case-card__info {
            bottom: -8px;
        }

        .c-case-card__img-content:after {
            min-height: 30%;
        }

        &:hover {
            h6 {
                opacity: 1;
                transform: translateY(-60px);
            }

            .c-case-card__img-content:after {
                min-height: 100%;
            }
        }
    }

    .c-case-cards-container   {
        .c-case-card .c-case-card__img-content {
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
            border-bottom-left-radius: 0%;
            border-bottom-right-radius: 0%;
        }

        .c-case-card:nth-child(1) .c-case-card__img-content{
            border-top-left-radius: 4%;
        }

        .c-case-card:nth-child(6) .c-case-card__img-content{
            border-bottom-right-radius: 4%;
        }

        .c-case-card:nth-child(3) .c-case-card__img-content{
            border-top-right-radius: 4%;
        }

        .c-case-card:nth-child(4) .c-case-card__img-content{
            border-bottom-left-radius: 4%;
        }
    }
}

@media (min-height: 720px) {
    .c-text-content {
        max-width: 620px;
    }
}
